@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 3em;
  font-weight: 700;
}

h4 {
  font-size: 1.2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 1.5em;
  border-radius: 15px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

thead {
  border-radius: 15px;
}

th,
td {
  text-align: center;
}

th {
  padding: 10px 20px;
  padding-top: 30px;
  font-weight: 600;
  color: #000000;
}

td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

img {
  object-fit: cover;
  border-radius: 8px;
}

.custom-order-tabs .ant-tabs-nav {
  background-color: #f3f4f6; /* Tailwind gray-100 */
  border-radius: 0.5rem;
  height: 3rem;
  padding: 10px 8px;
}

.custom-order-tabs .ant-tabs-tab {
  background-color: #e5e7eb; /* Tailwind gray-200 */
  border-radius: 8px;
  font-weight: 500;
  margin-left: 20px !important;
  transition: all 0.3s ease;
  padding-inline: 8px !important;
}

.custom-order-tabs .ant-tabs-tab-active {
  background-color: #ffffff;
  font-weight: 600;
  padding: 5px 8px;
  color: #1f2937; /* gray-800 */
}

.custom-order-tabs .ant-tabs-tab:hover {
  background-color: #ffffff; /* Tailwind gray-300 */
  padding: 5px 8px;
}

.custom-order-tabs .ant-tabs-ink-bar {
  background-color: transparent ; /* Tailwind gray-900 */
  height: 3px;
  border-radius: 4px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aeaeae;
}

.scroll-y-list::-webkit-scrollbar {
  width: 2px;
}

.scroll-x-list::-webkit-scrollbar {
  height: 0px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (min-width: 0px) {
  th,
  td {
    font-size: 0.75em;
  }
  td {
    padding: 20px 10px;
  }
}

@media screen and (min-width: 481px) {
  th,
  td {
    font-size: 0.875em;
  }
  td {
    padding: 30px 20px;
  }
}