@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 3em;
  font-weight: 700;
}

h4 {
  font-size: 1.2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 1.5em;
  border-radius: 15px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

thead {
  border-radius: 15px;
}

th, td {
  text-align: center;
  font-size: 0.875em;
}

th {
  padding: 10px 20px;
  padding-top: 30px;
  font-weight: 600;
  color: #000000;
}

td {
  padding: 30px 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

img {
  object-fit: cover;
  border-radius: 8px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d2d2d2; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aeaeae; 
}